* {
  background-color: black;
}
.main_class {
  margin: 100px 10%;
  width: 80%;
}
.section_toggle{
  margin: 0% 10%;
  width: auto;
}
.toggle {
  margin-bottom: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle img {
  padding: 8px;
  background-color: white;
  border-radius: 50%;
}
.section_profile{
  margin: 0% 10%;
  width: auto;
}
.profile_section {
  display: flex;
  justify-content: center;
  gap: 8%;
  /* width: 90%; */
  margin-bottom: 5%;
}
.profile_img {
  padding: 6px 5px 1px 5px;
  background-color: #ffe071;
  border-radius: 740px;
}
.profile_img img {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  width: auto;
  height: auto;
}
.profile_img_text {
  margin-top: 5%;
}
.profile_h3 {
  color: #f1f2f4;
  font-family: Poppins;
  font-size: 46px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 3%;
}
.profile_h5 {
  color: #a3abb2;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 5%;
}
.profile_img_link {
  display: flex;
  align-items: center;
  justify-content: around;
  gap: 7%;
}
.profile_link_img {
  width: 36px;
  color: #a3abb2;
}
.follower {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
  color: #a3abb2;
  margin-bottom: 4%;
}
.follows {
  text-align: center;
  display: flex;
  width: 148px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.cv_download{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a3abb2;
  gap: 4%;
  margin-bottom: 4%;
}

.cv_downloads{
 
  padding: 1.8%  6%;
  border-radius: 10px;
background-color: #FFE071;
  color: #3D3D3D;
text-align: center;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.531px;
}

.cv_downloads img{
  color: #3D3D3D;
text-align: center;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.531px;
  background-color: #FFE071;
}
.cv_downloades{
  color: #A3ABB2;
text-align: center;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.5px;
border-radius: 10px;
border: 0px solid #3E64AA;
background: #171F26;
padding: 2% 10%;
display: inline;

}
.section_portfolio{
  margin: 0% 10%;
  width: auto;
}
.portfolio_skills{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #171F26;
  padding: 2% 1%;
  color: #f1f2f4;
  margin-bottom: 4%;
}
.porfolio{
   padding: 2%;
  border-radius: 10px;
  border: 0px solid #3E64AA;
  background-color: #0C151D;
  color: #A3ABB2;
  text-align: center;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.5px;
  width: 45%;
}
.skills{
  width: 45%;
   padding: 2%;
   background-color: #171F26;
  color: #A3ABB2;
text-align: center;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.5px;
}
.portfolio_gellary{
  width: 100%;
  height: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2,1fr);
  gap: 5% 5%;
  /* grid-auto-rows: minmax(100px, auto); */

}
.portfolio_gellary_img img{
  width: 100%;
  height: auto;

}



.footer_last{
  margin-top: 10%;
  text-align: center;
  color: #A3ABB2;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
